<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration>
    <appender name="console" class="org.apache.log4j.ConsoleAppender">
        <param name="Target" value="System.out"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-5p %d %c{1} - %m%n"/>
        </layout>
    </appender>

    <appender name="file" class="org.apache.log4j.FileAppender">
        <param name="file" value="${server.log.file}" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{ABSOLUTE} %5p %d %C.%M:%L - %m%n" />
        </layout>
    </appender>

    <appender name="stdout" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{ABSOLUTE} %5p %d %C:%L - %m%n"/>
        </layout>
    </appender>

    <logger name="dhl">
        <level value="debug"></level>
        <appender-ref ref="stdout"/>
    </logger>

    <logger name="dvk">
        <level value="debug"></level>
        <appender-ref ref="stdout"/>
    </logger>

    <logger name="ee.sk">
        <level value="debug"></level>
        <appender-ref ref="stdout"/>
    </logger>

    <root>
        <priority value ="debug" />
        <appender-ref ref="console" />
    </root>
</log4j:configuration>