<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
  <CustomLevels>
    <CustomLevel name="SERVICEINFO" intLevel="450" />
  </CustomLevels>
  <Appenders>
    <Console name="STDOUT" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{ABSOLUTE} %5p %d %C:%L - %m%n"/>
    </Console>
    <Console name="console" target="SYSTEM_OUT">
      <PatternLayout pattern="%-5p %d %c{1} - %m%n"/>
    </Console>
    <File name="file" fileName="${server.log.file}">
      <PatternLayout pattern="%d{ABSOLUTE} %5p %d %C.%M:%L - %m%n"/>
    </File>
     <!-- <Syslog name="syslog" host="192.168.1.117" port="514" protocol="TCP" newLine="true" facility="LOCAL7"/> -->
  </Appenders> 
  <Loggers>
    <Logger name="dhl" level="debug">
    	<AppenderRef ref="STDOUT"/>
    	<AppenderRef ref="file"/>
    	<AppenderRef ref="syslog"/>
    </Logger>
    <Logger name="dvk" level="debug">
    	<AppenderRef ref="STDOUT"/>
    	<AppenderRef ref="file"/>
    </Logger>
     <Logger name="ee.sk" level="debug">
    	<AppenderRef ref="file"/>
    </Logger>
     <Logger name="org.apache.axis" level="error">
    	<AppenderRef ref="file"/>
    	<AppenderRef ref="STDOUT"/>
    </Logger>
     <Logger name="org.mortbay.jetty" level="error">
    	<AppenderRef ref="file"/>
    	<AppenderRef ref="STDOUT"/>
    </Logger>
    
    <Root level="debug">
      <AppenderRef ref="console"/>
    </Root>
  </Loggers>
</Configuration>